
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Playfair+Display|Roboto|Abhaya+Libre" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<main id="root"></main>
