.homepage-product-items{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin: 0vw 12vw 0vw 12vw;
}


li[class*='homepage-product-item-']{
  font-size: 20px;
  padding: 0 20px 0 20px;
  line-height: .7;
  font-size: 16px;
}

.homepage-product-created_at{
  font-size: 11px;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0 10px 0;
}

.homepage-product-designer{
  text-transform: uppercase;
  font-size: 16px;
}
.homepage-product-name{
  font-size: 13px;
}

.homepage-product-price{
  font-size: 14px;
  font-weight: 700;
}

.homepage-product-designsize-container{
  display: flex;
  justify-content: space-between;
}

.top-product-main-container{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

div[class*='homepage-top-product-item-']{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homepage-top-product-item-1{
  margin: 3px 3px 3px 3px;
}

.homepage-top-product-item-2{
  margin: 3px 3px 3px 3px;
}

div[class*='homepage-top-products-details-container']{
  position: absolute;
  font-family: 'Abhaya Libre', serif;
  color: black;
  text-shadow: 1px 1px black;
  z-index: 1;
}


.homepage-top-product-img-0{
  width: 800px;
  height: 535px;
  opacity: .7;
  z-index: -1;
}

.homepage-top-product-img-1{
  height: 263px;
  width: 240px;
  opacity: .7;
  z-index: -1;
}

.homepage-top-product-img-2{
  height: 263px;
  width: 240px;
  opacity: .7;
  z-index: -1;
}

.homepage-designerprice-container-0{
  justify-content: space-between;
  display: flex;
  align-items: self-end;
  width: 750px;
}

.homepage-top-product-designer-0{
  font-size: 50px;
  text-shadow: 2px 2px #878787;
}

.homepage-top-product-price-0{
  font-size: 50px;
  text-shadow: 2px 2px #878787;
}

.homepage-top-product-size-0{
  font-size: 20px;
  text-shadow: 2px 2px #878787;
}

.homepage-top-product-name-0{
  font-size: 35px;
  text-shadow: 2px 2px #878787;
}

.homepage-designerprice-container-1{
  justify-content: space-between;
  display: flex;
  width: 230px;
}

.homepage-top-product-size-1{
  justify-content: flex-start;
  display: flex;
  width: 230px;
}

.homepage-designerprice-container-2{
  justify-content: space-between;
  display: flex;
  width: 230px;
}

.homepage-top-product-size-2{
  justify-content: flex-start;
  display: flex;
  width: 230px;
}

.top-products-header{
  display: flex;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  width: 32%;
}


.top-product-container{
  margin-top: 40px;
}

.homepage-products-header{
  display: flex;
  justify-content: end;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 900;
  width: 32%;
  margin: 30px 480px 30px 20px;
}

.homepage-link-item-div{
  height: 280px;
  width: 210px;
}
