.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  font-family: 'Fira Sans', sans-serif;
}

.nav-bar h1{
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 900;
  margin: 20px 25px 20px 0;
}

.nav-profile-link{
  position: relative;
}


.login-signup {
  display: flex;
  margin: 25px;
  font-size: 12px;
}


.loginLink{
  cursor: pointer;
  margin-right: 5px;
}

.signupLink{
  cursor: pointer;
}

.nav-profile-img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 16px 38px 0 0;
}

.nav-profile-link:hover .profile-dropdown{
  display: block;
}

.profile-dropdown{
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  margin: 0px 0px 0px -73px;
  background: white;

}


.nav-profile-link:hover .profile-dropdown{
  display: block;
}

.profile-dropdown-content > a {
  color: #878787;
  font-weight: 700;
  text-decoration: none;
}


.profile-dropdown-content > a:hover {
  color: #000;
}

.nav-search-bar{
  visibility: hidden;
}

.profile-dropdown-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
  padding: 10px 12px 10px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}
