.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  font-family: 'Fira Sans', sans-serif;
}

.navbar-logo{
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 900;
  margin: 20px 25px 20px 0;
  text-decoration: none;
  color: #000;
}

.nav-profile-link{
  position: relative;
}


.login-signup {
  display: flex;
  margin: 25px;
  font-size: 12px;
}


.loginLink{
  cursor: pointer;
  margin-right: 5px;
}

.signupLink{
  cursor: pointer;
}

.nav-profile-img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0px 38px 0 30px;
}

.nav-profile-link:hover .profile-dropdown{
  display: block;
}

.profile-dropdown{
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  margin: 0px 0px 0px -44px;
  background: white;
  z-index: 1;
}


.nav-profile-link:hover .profile-dropdown{
  display: block;
}

.profile-dropdown-content > a {
  color: #878787;
  font-weight: 700;
  text-decoration: none;
}


.profile-dropdown-content > a:hover {
  color: #000;
}

.nav-search-bar{
  visibility: hidden;
  width: 100px;
}

.profile-dropdown-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
  padding: 10px 12px 10px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.nav-right{
  display: flex;
  align-items: center;
}

.nav-sell-link{
  text-decoration: none;
  color: black;
  font-size: 13px;
  border: 1px solid lightgrey;
  padding: 7px;
  display: flex;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
  -webkit-transition: border 1s;
  -moz-transition:    border 1s;
  -ms-transition:     border 1s;
  -o-transition:      border 1s;
  transition:         border 1s;
}

.nav-sell-link:hover{
  color: #cfcfd1;
  border: 1px solid grey;
}

.nav-cart-link{
  text-decoration: none;
  color: black;
  font-size: 13px;
  border: 1px solid lightgrey;
  padding: 7px;
  display: flex;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
  -webkit-transition: border 1s;
  -moz-transition:    border 1s;
  -ms-transition:     border 1s;
  -o-transition:      border 1s;
  transition:         border 1s;
}

.nav-cart-link:hover{
  color: #cfcfd1;
  border: 1px solid grey;
}

.nav-cart-link{
  margin: 20px 0 0 70px;

}
