.product-photo-main{
  width: 80%;
  height: 80%;

}

.product-photo-main-container {
  display: flex;
  justify-content: center;
}

.product-show-page-wrapper{
  display: grid;
  grid-template-columns: 10% 60% 30%;
  font-family: 'Fira Sans', sans-serif;
}


.product-photos-container{
  display: grid;
  grid-template-rows: 70% 30%;
  grid-column-start: 2;
}

// div[class*='show-product-page-']{
//   width: 80%;
// }

.product-show-designer{
  font-size: 30px;
  text-transform: uppercase;
}

.product-show-name{
  font-size: 13px;
}

.product-show-price{
  font-size: 20px;
}

.buy-product-button{
  background-color: black;
  color: #fff;
  border: 1px solid black;
  width: 100%;
  margin: 50px 0 50px 0;
  height: 46px;
  font-size: 14px;
  cursor: pointer;
}

.product-show-description-header{
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 15px;
}

.product-show-description{
  font-size: 14px;
}

// .product-show-seller-name-container{
//   display: flex;
//   font-size: 23px;
//   margin-bottom: 15px;
// }

.product-show-seller-name{
  margin-right: 3px;
}

.product-show-seller-weightheight{
  display: flex;
}

.product-show-seller-height{
  margin-right: 6px;
}

.product-show-seller-location{
  margin-bottom: 4px;
}

.product-show-user-avatar{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 20px;
}

// .product-show-seller-container{
//   display: flex;
// }

img{
  height: 200px;
  width: 155px;
  padding: 30px 0 50px 0;
}

.product-sub-photos-wrapper{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
}

[class*='product-sub-photo-container-']{
  display: flex;
  justify-content: center;
}

// .product-photos-wrapper{
//   display: flex;
//   width: 71%;
// }
// DELETE WHOLE THING DIV DOESN"T EXIST

.product-show-wrapper{
  width: 25%;
}
